* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 1s;
  text-wrap: wrap;
}

body {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  display: none;
}
body ul {
  list-style: none;
}
body a {
  text-decoration: none;
  color: #2c8414;
}
body a:hover {
  text-decoration: none;
}
body h1 {
  margin: 20px auto;
  text-align: center;
  color: #9c1c2c;
  font-size: 30px;
}
body h1::after {
  display: block;
  content: "";
  position: relative;
  top: 5px;
  width: 45px;
  height: 2.5px;
  background-color: rgba(44, 132, 20, 0.9);
  margin: 0px auto;
}
body .bg-w {
  background-color: white;
}
body .xxs {
  text-align: center;
  color: rgba(44, 132, 20, 0.9);
  font-size: 13px;
  margin-bottom: -30px;
}
body .card {
  border-bottom: solid 2px #bbb;
}
body .card div {
  padding: 0px;
  margin: 0px;
}
body .card div .user-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0px 5px;
}
body .card div span {
  font-weight: 600;
  font-size: 15px;
  margin-top: -2px;
}
body .card .stars {
  padding: 0px;
  margin: 0px;
  text-align: end;
  font-weight: bold;
}
body .card .button {
  background-color: #ffffff;
  color: #9c1c2c;
  border: solid 1px #9c1c2c;
  border-radius: 20px;
  padding: 5px 8px;
  font-weight: 600;
}
body .card .button:hover {
  padding: 5px 12px;
  background-color: #9c1c2c;
  color: #ffffff;
}
body .card .price {
  font-weight: 500;
  text-align: end;
  font-weight: bold;
}
body #preloader {
  margin: 0px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 9999999;
}
body #preloader #prel-logo {
  margin: 0px;
  position: relative;
  transform-style: preserve-3d;
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  min-width: 50px;
  min-height: 50px;
}
body #preloader #prel-logo .front {
  margin: 0px;
  margin: 0px auto;
  width: 100%;
  height: 100%;
  left: 0px;
  position: absolute;
  transition: 3s;
}
body #preloader #prel-logo .shad {
  position: absolute;
  bottom: -10%;
  left: 0px;
  height: 20%;
  width: 100%;
  margin: 0px auto;
  border-radius: 70%;
  background-image: radial-gradient(#ccc, #fff, #fff);
}
body header {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1000 !important;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  height: 60px;
}
body header.header-bg {
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
body header .h-img {
  height: 60px;
}
body header ul {
  display: flex;
  justify-content: end;
}
body header ul li {
  margin: 20px 5px 0px 5px;
  padding: 0px 15px 0px 0px;
}
body header ul li.profile-icon {
  margin-top: 10px;
}
body header ul li.link {
  text-transform: uppercase;
  font-weight: 400;
  font-size: large;
}
body header ul li.link:hover a {
  color: #777;
  transition: 1s;
  text-decoration: none;
}
body header ul li.link a {
  color: #2c8414;
  transition: 1s;
}
body header ul .icon a {
  color: #777;
}
body header ul .icon a:hover {
  color: #9c1c2c;
  transition: 0.5s;
}
body header ul .icon.profile-icon {
  background-color: #2c8414;
  padding: 5px 10px;
  border-radius: 50%;
  text-align: center;
  transition: 1s;
}
body header ul .icon.profile-icon a {
  color: #ffffff;
}
body header ul .icon.profile-icon:hover {
  transition: 1s;
  background-color: #777;
}
body #mini-nav {
  padding: 0px;
  z-index: 1000000;
  display: none;
  position: fixed;
  top: 60px;
  left: 0px;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  text-align: center;
}
body #mini-nav li {
  width: 100%;
  padding: 15px 0px;
}
body #mini-nav li a {
  color: #2c8414;
  text-decoration: none;
  font-size: large;
  transition: 1.5s;
}
body #mini-nav li a:hover {
  color: #000;
  transition: 1s;
}
body #modal-bg {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  z-index: 1000001 !important;
}
body #modal-bg #modal-r, body #modal-bg #modal-l {
  display: none;
  background-color: #ffffff;
  max-height: 75%;
  width: 50%;
  margin: auto 0px;
}
body #modal-bg #modal-r h2, body #modal-bg #modal-l h2 {
  font-size: 20px;
  color: #711520;
}
body #modal-bg #modal-r form, body #modal-bg #modal-l form {
  width: 100%;
}
body #modal-bg #modal-r .c-e-div, body #modal-bg #modal-l .c-e-div {
  width: 100%;
}
body #modal-bg #modal-r .c-e-div input[type=file], body #modal-bg #modal-l .c-e-div input[type=file] {
  color: #711520;
}
body #modal-bg #modal-r .c-e-div input[type=file]::-webkit-file-upload-button, body #modal-bg #modal-l .c-e-div input[type=file]::-webkit-file-upload-button {
  padding: 8px 30px;
  border: none;
  background-image: linear-gradient(to right, #711520, #9c1c2c);
  color: #ffffff;
  -webkit-transition: 1s;
  transition: 1s;
}
body #modal-bg #modal-r .c-e-div input[type=file]::-webkit-file-upload-button:hover, body #modal-bg #modal-l .c-e-div input[type=file]::-webkit-file-upload-button:hover {
  background-image: linear-gradient(to right, #9c1c2c, #711520);
  padding: 8px 35px;
  border-radius: 20px;
}
body #modal-bg #modal-r .c-e-div input[type=email], body #modal-bg #modal-r .c-e-div input[type=text], body #modal-bg #modal-r .c-e-div input[type=password], body #modal-bg #modal-r .c-e-div textarea, body #modal-bg #modal-l .c-e-div input[type=email], body #modal-bg #modal-l .c-e-div input[type=text], body #modal-bg #modal-l .c-e-div input[type=password], body #modal-bg #modal-l .c-e-div textarea {
  width: 100%;
  margin: 0px auto;
  border: none;
  border-bottom: solid 1px #9c1c2c;
  color: #711520;
}
body #modal-bg #modal-r .c-e-div input[type=email]::-moz-placeholder, body #modal-bg #modal-r .c-e-div input[type=text]::-moz-placeholder, body #modal-bg #modal-r .c-e-div input[type=password]::-moz-placeholder, body #modal-bg #modal-r .c-e-div textarea::-moz-placeholder, body #modal-bg #modal-l .c-e-div input[type=email]::-moz-placeholder, body #modal-bg #modal-l .c-e-div input[type=text]::-moz-placeholder, body #modal-bg #modal-l .c-e-div input[type=password]::-moz-placeholder, body #modal-bg #modal-l .c-e-div textarea::-moz-placeholder {
  font-size: 10px;
  padding-bottom: 5px;
}
body #modal-bg #modal-r .c-e-div input[type=email]::placeholder, body #modal-bg #modal-r .c-e-div input[type=text]::placeholder, body #modal-bg #modal-r .c-e-div input[type=password]::placeholder, body #modal-bg #modal-r .c-e-div textarea::placeholder, body #modal-bg #modal-l .c-e-div input[type=email]::placeholder, body #modal-bg #modal-l .c-e-div input[type=text]::placeholder, body #modal-bg #modal-l .c-e-div input[type=password]::placeholder, body #modal-bg #modal-l .c-e-div textarea::placeholder {
  font-size: 10px;
  padding-bottom: 5px;
}
body #modal-bg #modal-r .c-e-div input[type=email]:focus, body #modal-bg #modal-r .c-e-div input[type=text]:focus, body #modal-bg #modal-r .c-e-div input[type=password]:focus, body #modal-bg #modal-r .c-e-div textarea:focus, body #modal-bg #modal-l .c-e-div input[type=email]:focus, body #modal-bg #modal-l .c-e-div input[type=text]:focus, body #modal-bg #modal-l .c-e-div input[type=password]:focus, body #modal-bg #modal-l .c-e-div textarea:focus {
  outline: none;
}
body #modal-bg #modal-r .c-e-div input[type=email], body #modal-bg #modal-r .c-e-div input[type=text], body #modal-bg #modal-r .c-e-div input[type=password], body #modal-bg #modal-r .c-e-div input[type=file], body #modal-bg #modal-l .c-e-div input[type=email], body #modal-bg #modal-l .c-e-div input[type=text], body #modal-bg #modal-l .c-e-div input[type=password], body #modal-bg #modal-l .c-e-div input[type=file] {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
body #modal-bg #modal-r .c-e-div input[type=button], body #modal-bg #modal-l .c-e-div input[type=button] {
  padding: 8px 30px;
  border: none;
  background-image: linear-gradient(to right, #711520, #9c1c2c);
  color: #ffffff;
  transition: 1s;
}
body #modal-bg #modal-r .c-e-div input[type=button]:hover, body #modal-bg #modal-l .c-e-div input[type=button]:hover {
  background-image: linear-gradient(to right, #9c1c2c, #711520);
  padding: 8px 35px;
  border-radius: 20px;
}
body #modal-bg #modal-r span, body #modal-bg #modal-l span {
  position: fixed;
  top: 20vh;
  right: 20vw;
  color: #ffffff;
  cursor: pointer;
}
body #modal-bg #modal-r span.r, body #modal-bg #modal-l span.r {
  top: 5vh;
}
body .service-h2 {
  font-size: 25px;
}
body #rec input[type=radio] {
  display: none;
}
body #rec input[type=radio] + label {
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1.5em;
  white-space: nowrap;
  cursor: pointer;
}
body #rec input[type=radio] + label:before {
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  content: "\f005";
  color: #d1d0d0;
  display: inline-block;
  text-indent: -9999px;
  transition: 0.2s;
}
body #rec input[type=radio]:hover + label:before, body #rec input[type=radio].fstar + label:before {
  background-color: transparent;
  color: #9c1c2c;
}
body #rec #rec-form {
  margin: 0px auto;
  margin-top: 50px;
  width: 50%;
}
body #rec #rec-form textarea {
  padding: 5px;
  width: 100%;
  border: none;
  background-color: #ddd;
  border-radius: 5px;
}
body #rec #rec-form textarea:focus {
  outline: none;
}
body #rec #recenzije {
  width: 70%;
  min-width: 300px;
  padding: 0px;
  margin: 0px;
}
body #rec #recenzije .recenzija {
  padding: 0px;
  margin: 0px;
  margin: 20px auto;
  width: 100%;
}
body #rec #recenzije .recenzija .r-img {
  width: 100%;
}
body #rec #recenzije .recenzija .r-img img {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
body #rec #recenzije .recenzija .r-text {
  padding: 10px;
}
body #rec #recenzije .recenzija .r-text p {
  padding: 0px;
  margin: 0px;
}
body #cart {
  background-color: #eee;
}
body #cart p {
  margin-right: 50px;
  text-align: right;
  font-weight: 600;
  margin-bottom: 0px;
  padding-bottom: 5px;
}
body #cart p mark {
  background-color: transparent;
  color: #711520;
  font-size: 30px;
}
body #cart #products {
  padding: 20px 0px;
}
body #cart #products table {
  margin: 0px auto;
  background-color: #ffffff;
  min-width: 75vw;
  box-shadow: 0px 0px 15px #bbb;
}
body #cart #products table tr {
  padding: 15px;
  border-bottom: solid 0.5px #ddd;
}
body #cart #products table tr:last-of-type {
  border: none;
}
body #cart #products table tr th {
  padding: 10px;
}
body #cart #products table tr td {
  padding: 10px;
}
body #cart #products table tr td img {
  width: 150px;
  border-radius: 0px 10px 0px 10px;
}
body #cart #products table tr td .ukl {
  border: 1px solid #9c1c2c;
  padding: 5px 10px;
  border-radius: 10px 0px 10px 0px;
  color: #9c1c2c;
  background-color: transparent;
}
body #cart #products table tr td .ukl:hover {
  background-color: rgba(156, 28, 44, 0.4);
  color: #ffffff;
}
body #cart #products table tr td .por {
  border: 1px solid #2c8414;
  padding: 5px 10px;
  border-radius: 10px 0px 10px 0px;
  color: #2c8414;
  background-color: transparent;
}
body #cart #products table tr td .por:hover {
  background-color: rgba(44, 132, 20, 0.4);
  color: #ffffff;
}
body #favourites #products {
  margin: 0px auto;
  padding: 15px 0px;
  background-color: #ddd;
}
body #favourites #products h2 {
  margin-left: 7%;
  color: #9c1c2c;
  font-size: 30px;
  font-weight: 200;
}
body #favourites #products .product {
  width: 90%;
  margin: 10px auto;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #bbb;
}
body #favourites #products .product .about div {
  color: #9c1c2c;
}
body #favourites #products .product .about div span {
  color: #000;
}
body #favourites #products .product .about p {
  color: #777;
  font-weight: 200;
}
body #favourites #products .product .about p mark {
  background-color: transparent;
}
body #favourites #products .product .about h4 {
  font-size: 22px;
  font-weight: 200;
}
body #favourites #products .product .btns .price {
  font-weight: 500;
  font-size: 20px;
}
body #favourites #products .product .btns .price mark {
  background-color: transparent;
  font-size: 13px;
  font-weight: 200;
  display: block;
  margin: 5px 0px;
}
body #favourites #products .product .btns .price mark.t-r {
  color: rgba(215, 0, 22, 0.9);
}
body #favourites #products .product .btns button {
  padding: 7px 10px;
  margin: 5px;
  border-radius: 10px;
  min-width: 75%;
  border: none;
}
body #favourites #products .product .btns button.u {
  background-color: #ffffff;
  color: #9c1c2c;
  border: 1px solid #9c1c2c;
}
body #favourites #products .product .btns button.u:hover {
  background-color: #9c1c2c;
  color: #ffffff;
}
body #favourites #products .product .btns button.d {
  background-color: #9c1c2c;
  color: #ffffff;
  border: 1px solid #9c1c2c;
}
body #favourites #products .product .btns button.d:hover {
  background-color: #ffffff;
  color: #9c1c2c;
  border: 1px solid #9c1c2c;
}
body #profil {
  width: 100%;
}
body #profil #user-data #card {
  background-color: #711520;
}
body #profil #user-data #card .im {
  padding-top: 20px;
  margin: auto auto;
  width: 80%;
}
body #profil #user-data #card .im img {
  width: 100%;
  border-radius: 50%;
  height: 200px;
}
body #profil #user-data #card .info {
  padding-left: 40px;
  font-weight: 300;
}
body #profil #user-data #card .info span {
  font-size: 12px;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.8);
}
body #profil #user-data #card .info p {
  color: #ffffff;
  font-weight: 400;
}
body #profil #user-data #card p {
  color: rgba(255, 255, 255, 0.8);
}
body #profil #user-data #card .tab button {
  width: 100%;
  border: none;
  background-color: #711520;
  color: #ffffff;
  padding: 20px 0px;
  background-color: #67141e;
  transition: 1s;
}
body #profil #user-data #card .tab button.active {
  background-image: linear-gradient(#9c1c2c, #711520);
}
body #profil #user-data #card .tab button:hover {
  background-image: linear-gradient(#9c1c2c, #711520);
  transition: 1s;
}
body #profil #user-data #card .tab button:focus {
  outline: none;
}
body #profil #content .ponuda .usluge {
  margin-top: 80px;
}
body #profil #content .ponuda .usluge .usluga {
  margin: 20px;
  padding: 20px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #bbb;
}
body #profil #content .ponuda .usluge .usluga .img {
  width: 60%;
  position: absolute;
  top: -40%;
  left: 20%;
}
body #profil #content .ponuda .usluge .usluga .img img {
  border-radius: 50%;
}
body #profil #content .ponuda .usluge .usluga .data {
  padding-top: 85px;
}
body #profil #content .ponuda .usluge .usluga .data h4 {
  font-size: 20px;
  font-weight: 300;
  color: #2c8414;
}
body #profil #content .ponuda .usluge .usluga .data h5 {
  text-align: right;
}
body #profil #content table, body #profil #content tr, body #profil #content td, body #profil #content th {
  border: none;
}
body #profil #content table {
  width: 100%;
  text-align: center;
}
body #profil #content table tr {
  border-bottom: solid 1px #bbb;
}
body #profil #content table tr:last-of-type {
  border: none;
}
body #profil #content table tr th {
  margin-bottom: 5px;
}
body #profil #content table tr td {
  margin: 10px;
  padding: 10px;
}
body #profil #content table tr td img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
body #profil #content table tr td a:hover {
  color: #777;
}
body #profil #content input, body #profil #content textarea, body #profil #content select {
  border: none;
  border-bottom: solid 1px #2c8414;
  width: 70px;
  margin: 10px auto;
  color: #777;
}
body #profil #content input:focus, body #profil #content textarea:focus, body #profil #content select:focus {
  outline: none;
}
body #profil #content input[type=submit] {
  background-color: #ffffff;
  color: #777;
  border: 1px solid #2c8414;
  border-radius: 20px;
  padding: 5px 7px;
}
body #profil #content input[type=file]::-webkit-file-upload-button {
  border: none;
  background-color: #ffffff;
  color: #2c8414;
  -webkit-transition: 1s;
  transition: 1s;
}
body #profil #content input[type=file]::-webkit-file-upload-button:hover {
  color: #bbb;
}
body #profil #content input[type=checkbox] {
  display: none;
}
body #profil #content input[type=checkbox] + label {
  display: block;
  cursor: pointer;
  margin: 3px;
  padding: 2px;
}
body #profil #content input[type=checkbox] + label:before {
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  content: "\f00c";
  padding-left: 3.5px;
  padding-bottom: 6px;
  border: 1px solid #000;
  border-radius: 4px;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  vertical-align: bottom;
  color: transparent;
  transition: 0.2s;
}
body #profil #content input[type=checkbox] + label:active:before {
  transform: scale(0);
}
body #profil #content input[type=checkbox]:checked + label:before {
  background-color: #2c8414;
  border-color: #2c8414;
  color: #ffffff;
}
body #auth-div {
  padding: 0px;
  z-index: 1000001;
  display: none;
  position: fixed;
  top: 60px;
  right: 0px;
  width: 320px;
  background-color: white;
  text-align: center;
  border-radius: 0 0 5px 5px;
}
body #auth-div li {
  width: 100%;
  padding: 15px 0px;
}
body #auth-div li a {
  color: #777;
  text-decoration: none;
  font-size: large;
  transition: 1.5s;
}
body #auth-div li:hover {
  transition: 1s;
}
body #auth-div li:hover a {
  color: #000;
}
body #start {
  padding: 0px;
  margin: 0px;
  height: 90vh;
  max-height: 90vh;
  background-image: url("../img/male-videographer-edits-and-cuts-footage-and-sound-2022-02-01-22-38-41-utc.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
}
body #start #cover {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding-top: 16vh;
  padding-bottom: 16vh;
  background-color: rgba(0, 0, 0, 0.8);
}
body #start #cover .start-bg {
  text-align: end;
  color: #9c1c2c;
  font-size: 20px;
}
body #start #cover .start-bg h1 {
  color: #9c1c2c;
  font-weight: bold;
  text-transform: uppercase;
  text-align: end;
}
body #start #cover .start-bg h1::after {
  display: none;
}
body #start #cover .start-bg h1 mark {
  color: #2c8414;
  background-color: transparent;
  font-weight: initial;
}
body #start #cover .start-bg form {
  display: flex;
  justify-content: end;
}
body #start #cover .start-bg form input {
  width: 40%;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  color: #9c1c2c;
}
body #start #cover .start-bg form input:focus {
  outline: none;
}
body #start #cover .start-bg form input::-moz-placeholder {
  color: #9c1c2c;
  font-weight: 200;
}
body #start #cover .start-bg form input::placeholder {
  color: #9c1c2c;
  font-weight: 200;
}
body #start #cover .start-bg form button {
  padding: 5px 10px;
  border: none;
  background-color: #9c1c2c;
  color: #ffffff;
  border-radius: 0 5px 5px 0;
  margin-left: -6px;
}
body #start #cover .start-bg form button:hover {
  background-color: #711520;
}
body .paket {
  background-color: #ffffff;
  box-shadow: 0px 2px 10px rgba(113, 21, 32, 0.5137254902);
  width: 100%;
  border-radius: 20px 20px 0 0;
  margin: 0px;
  padding: 5px 0px;
}
body .paket h2 {
  text-align: center;
  color: #9c1c2c;
  font-size: 20px;
  font-weight: bold;
}
body .paket p {
  text-align: center;
  background-color: rgba(44, 132, 20, 0.5);
  color: #ffffff;
  padding: 5px;
  font-weight: bold;
}
body .paket p span {
  margin: 0px 10px;
  font-size: 30px;
}
body .paket table td {
  font-weight: 600;
}
body .paket table th {
  color: #2c8414;
}
body .paket table .text-gray th, body .paket table .text-gray {
  color: #bbb;
}
body .paket form {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
}
body .paket form div {
  width: 100%;
  display: flex;
  justify-content: center;
}
body .paket form div .paket-btn {
  margin: 0px auto;
  margin-top: -15px;
  padding: 6px 30px;
  width: 50%;
  background-color: #82b873;
  border-radius: 20px;
  color: #ffffff;
  border: none;
}
body .paket form div div {
  width: 0px;
}
body .paket form div div::after {
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  content: "\f105";
  display: block;
  position: absolute;
  top: -15px;
  left: 60%;
  width: 35px;
  height: 36px;
  padding-top: 7px;
  border-radius: 50%;
  background-color: #82b873;
  color: #ffffff;
  text-align: center;
  transition: 1.5s;
}
body .paket form div:hover div::after {
  content: "\f101";
  transform: rotate(360deg);
  transition: 1s;
}
body #podloga {
  margin: 0px auto;
  width: 100%;
  height: 200px;
  margin-top: -150px;
  background-image: linear-gradient(to bottom, #9c1c2c, #711520);
}
body .m0 {
  margin: 0px;
}
body #categories-header {
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: #ffffff;
  position: sticky;
  top: 65.5px;
  left: 0px;
  z-index: 1000000;
}
body #categories-header ul {
  margin: 0px;
}
body #categories-header .category {
  display: inline-block;
  margin: 10px 5px 10px 5px;
  padding: 0px 15px 0px 0px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
body #categories-header .category:last-of-type {
  border: none;
}
body #categories-header .category a {
  color: #ffffff;
}
body #categories-header .category a:hover {
  color: rgba(119, 119, 119, 0.7);
  transition: 1s;
}
body .cat-div {
  z-index: 1000000;
  margin: 0px;
  overflow-y: scroll;
  display: none;
  width: 100vw;
  height: 70vh;
  position: fixed;
  max-height: 70vh;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
body .cat-div::-webkit-scrollbar {
  display: none;
}
body .cat-div div {
  margin: 10px;
  color: #777;
}
body .cat-div div h2 {
  font-size: 20px;
}
body .cat-div div h2 a {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  transition: 1s;
}
body .cat-div div h2 a:hover {
  color: #9c1c2c;
  transition: 1s;
}
body .cat-div div hr {
  margin-top: 0px;
  margin-bottom: 0px;
  border-color: #2c8414;
}
body .cat-div div ul li a {
  color: rgba(0, 0, 0, 0.7);
  transition: 1s;
}
body .cat-div div ul li a:hover {
  color: #2c8414;
  transition: 1s;
}
body #to-top {
  display: none;
  position: fixed;
  bottom: 5vh;
  right: 2vw;
  background-color: #bbbbbb;
  padding: 10px 15px;
  border-radius: 50%;
}
body #to-top #to-top-btn {
  color: #ffffff;
  background: transparent;
  border: none;
}
body #to-top #to-top-btn:focus {
  outline: none;
}
body #to-top:hover {
  background-color: #777;
}
body #filter-div .cat-f {
  margin-top: 40px;
  margin-bottom: 40px;
}
body #filter-div .cat-f .ch-div {
  margin: 10px;
}
body #filter-div .cat-f h4 {
  font-size: 20px;
  color: #444;
}
body #filter-div .cat-f h4::after {
  content: "";
  display: block;
  width: 30%;
  height: 2px;
  top: 2px;
  position: relative;
  background-color: rgba(113, 21, 32, 0.8);
}
body #filter-div .cat-f input[type=checkbox] {
  display: none;
}
body #filter-div .cat-f input[type=checkbox] + label {
  display: block;
  cursor: pointer;
  margin: 3px;
  padding: 2px;
}
body #filter-div .cat-f input[type=checkbox] + label:before {
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  content: "\f00c";
  padding-left: 3.5px;
  padding-bottom: 6px;
  border: 1px solid #000;
  border-radius: 4px;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  vertical-align: bottom;
  color: transparent;
  transition: 0.2s;
}
body #filter-div .cat-f input[type=checkbox] + label:active:before {
  transform: scale(0);
}
body #filter-div .cat-f input[type=checkbox]:checked + label:before {
  background-color: #711520;
  border-color: #711520;
  color: #ffffff;
}
body #filter-div .cat-f input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}
body #filter-div .cat-f input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: rgba(113, 21, 32, 0.5);
  border-color: rgba(119, 119, 119, 0.5);
}
body #filter-div .cat-f input[type=range] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 70%;
  height: 4px;
  border-radius: 3px;
  border: 1px solid #9c1c2c;
}
body #filter-div .cat-f input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  position: relative;
  top: -3px;
  width: 10px;
  height: 10px;
  background-color: #711520;
  border-radius: 50%;
  cursor: pointer;
}
body #filter-div .cat-f input[type=range]::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #9c1c2c 0%, #9c1c2c var(--value, 0%), #ffffff var(--value, 0%), #ffffff 100%);
  height: 4px;
  border-radius: 3px;
  border: 1px solid #9c1c2c;
}
body #filter-div .cat-f select {
  padding: 5px;
  color: #711520;
}
body #filter-div .cat-f select option:hover {
  background-color: #711520;
}
body #filter-div .cat-f input[type=text], body #filter-div .cat-f select {
  width: 75%;
  border: none;
  border-bottom: solid 1px #711520;
}
body #filter-div .cat-f input[type=text]:focus, body #filter-div .cat-f select:focus {
  outline: none;
}
body #filter-div .cat-f input[type=text]::-moz-placeholder, body #filter-div .cat-f select::-moz-placeholder {
  color: #777;
}
body #filter-div .cat-f input[type=text]::placeholder, body #filter-div .cat-f select::placeholder {
  color: #777;
}
body #filter-div .cat-f input[type=text] option, body #filter-div .cat-f select option {
  background-color: #ffffff;
  color: #711520;
}
body #filter-div .cat-f input[type=text] option:hover, body #filter-div .cat-f select option:hover {
  background-color: #711520;
  color: #ffffff;
}
body #services-div .card {
  border-bottom: solid 1px #ddd;
}
body #services-div .card:hover {
  box-shadow: 0px 0px 30px #bbb;
  cursor: pointer;
}
body .page-link {
  color: #711520;
}
body .page-link:hover {
  color: #777;
}
body #product-div {
  width: 100vw;
  background-color: rgba(187, 187, 187, 0.2);
  margin: 0px;
}
body #product-div #product-holder {
  box-shadow: 0px 0px 30px #777;
  width: 95%;
  margin: auto auto;
}
body #product-div #product-holder p {
  text-align: end;
  color: #777;
}
body #product-div #product-holder #product-data p {
  text-align: start;
}
body #product-div #product-holder #product-data h2 {
  text-align: start;
}
body #product-div #product-holder #product-img .u-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px;
}
body #contact {
  background-image: url("../img/young-people-sharing-digital-content-on-marketing-2022-12-09-04-44-35-utc.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
body #contact #cover {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(39, 7, 10, 0.9), rgba(191, 32, 51, 0.9));
  margin: auto 0px;
}
body #contact #cover div {
  align-self: center;
  max-width: 1000px;
  max-height: 400px;
}
body #contact #cover #contact-form-div {
  margin: auto auto;
  padding: 10px;
}
body #contact #cover #contact-form-div h2 {
  font-size: 25px;
  text-align: center;
  color: #711520;
}
body #contact #cover #contact-form-div .c-e-div {
  width: 100%;
}
body #contact #cover #contact-form-div .c-e-div input[type=email], body #contact #cover #contact-form-div .c-e-div input[type=text], body #contact #cover #contact-form-div .c-e-div textarea {
  width: 100%;
  margin: 0px auto;
  border: none;
  border-bottom: solid 1px #9c1c2c;
  color: #711520;
}
body #contact #cover #contact-form-div .c-e-div input[type=email]::-moz-placeholder, body #contact #cover #contact-form-div .c-e-div input[type=text]::-moz-placeholder, body #contact #cover #contact-form-div .c-e-div textarea::-moz-placeholder {
  font-size: 10px;
  padding-bottom: 5px;
}
body #contact #cover #contact-form-div .c-e-div input[type=email]::placeholder, body #contact #cover #contact-form-div .c-e-div input[type=text]::placeholder, body #contact #cover #contact-form-div .c-e-div textarea::placeholder {
  font-size: 10px;
  padding-bottom: 5px;
}
body #contact #cover #contact-form-div .c-e-div input[type=email]:focus, body #contact #cover #contact-form-div .c-e-div input[type=text]:focus, body #contact #cover #contact-form-div .c-e-div textarea:focus {
  outline: none;
}
body #contact #cover #contact-form-div .c-e-div input[type=email], body #contact #cover #contact-form-div .c-e-div input[type=text] {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
body #contact #cover #contact-form-div .c-e-div input[type=button] {
  padding: 8px 30px;
  border: none;
  background-image: linear-gradient(to right, #711520, #9c1c2c);
  color: #ffffff;
  transition: 1s;
}
body #contact #cover #contact-form-div .c-e-div input[type=button]:hover {
  background-image: linear-gradient(to right, #9c1c2c, #711520);
  padding: 8px 35px;
  border-radius: 20px;
}
body #contact #cover #contact-data {
  margin: auto 0px;
}
body #contact #cover #contact-data .c-data {
  display: flex;
  margin: 10px;
}
body #contact #cover #contact-data .c-data div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: rgba(113, 21, 32, 0.2);
  text-align: center;
  color: #711520;
  padding-top: 13px;
}
body #contact #cover #contact-data .c-data span {
  margin: auto 0px;
  color: #777;
}
body #auth {
  background-image: url("../img/african-american-man-sitting-in-front-of-computer-2022-11-15-05-59-50-utc.jpg");
  width: 100%;
  height: 150vh;
  background-position: center;
  background-size: cover;
}
body #auth #cover {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(39, 7, 10, 0.9), rgba(191, 32, 51, 0.9));
  padding: 0px 10px;
  margin: 0px;
}
body #auth #cover div {
  align-self: center;
  max-width: 1000px;
}
body #auth #cover div h2 {
  color: #711520;
  font-size: 25px;
  text-align: center;
}
body #auth #cover div p {
  text-align: center;
  font-size: 15px;
  color: #711520;
  margin-bottom: -8px;
}
body #auth #cover div #auth-form-div {
  margin: auto auto;
  padding: 30px 10px;
}
body #auth #cover div #auth-form-div h2 {
  font-size: 25px;
  text-align: center;
  color: #711520;
}
body #auth #cover div #auth-form-div form {
  width: 100%;
}
body #auth #cover div #auth-form-div .c-e-div {
  width: 100%;
}
body #auth #cover div #auth-form-div .c-e-div input[type=file] {
  color: #711520;
}
body #auth #cover div #auth-form-div .c-e-div input[type=file]::-webkit-file-upload-button {
  padding: 8px 30px;
  border: none;
  background-image: linear-gradient(to right, #711520, #9c1c2c);
  color: #ffffff;
  -webkit-transition: 1s;
  transition: 1s;
}
body #auth #cover div #auth-form-div .c-e-div input[type=file]::-webkit-file-upload-button:hover {
  background-image: linear-gradient(to right, #9c1c2c, #711520);
  padding: 8px 35px;
  border-radius: 20px;
}
body #auth #cover div #auth-form-div .c-e-div input[type=email], body #auth #cover div #auth-form-div .c-e-div input[type=text], body #auth #cover div #auth-form-div .c-e-div input[type=password], body #auth #cover div #auth-form-div .c-e-div textarea {
  width: 100%;
  margin: 0px auto;
  border: none;
  border-bottom: solid 1px #9c1c2c;
  color: #711520;
}
body #auth #cover div #auth-form-div .c-e-div input[type=email]::-moz-placeholder, body #auth #cover div #auth-form-div .c-e-div input[type=text]::-moz-placeholder, body #auth #cover div #auth-form-div .c-e-div input[type=password]::-moz-placeholder, body #auth #cover div #auth-form-div .c-e-div textarea::-moz-placeholder {
  font-size: 10px;
  padding-bottom: 5px;
}
body #auth #cover div #auth-form-div .c-e-div input[type=email]::placeholder, body #auth #cover div #auth-form-div .c-e-div input[type=text]::placeholder, body #auth #cover div #auth-form-div .c-e-div input[type=password]::placeholder, body #auth #cover div #auth-form-div .c-e-div textarea::placeholder {
  font-size: 10px;
  padding-bottom: 5px;
}
body #auth #cover div #auth-form-div .c-e-div input[type=email]:focus, body #auth #cover div #auth-form-div .c-e-div input[type=text]:focus, body #auth #cover div #auth-form-div .c-e-div input[type=password]:focus, body #auth #cover div #auth-form-div .c-e-div textarea:focus {
  outline: none;
}
body #auth #cover div #auth-form-div .c-e-div input[type=email], body #auth #cover div #auth-form-div .c-e-div input[type=text], body #auth #cover div #auth-form-div .c-e-div input[type=password], body #auth #cover div #auth-form-div .c-e-div input[type=file] {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
body #auth #cover div #auth-form-div .c-e-div input[type=button] {
  padding: 8px 30px;
  border: none;
  background-image: linear-gradient(to right, #711520, #9c1c2c);
  color: #ffffff;
  transition: 1s;
}
body #auth #cover div #auth-form-div .c-e-div input[type=button]:hover {
  background-image: linear-gradient(to right, #9c1c2c, #711520);
  padding: 8px 35px;
  border-radius: 20px;
}
body #inbox {
  width: 100%;
  margin: 0px;
  padding: 0px;
  padding: 20px 10px;
  background-color: rgba(187, 187, 187, 0.2);
  height: 80vh;
  max-height: 80vh;
}
body #inbox #chat-list {
  background-color: #ffffff;
  box-shadow: 0px 3px 25px rgba(119, 119, 119, 0.6);
  border-radius: 10px;
  padding: 20px;
  overflow-y: scroll;
  max-height: 70vh;
}
body #inbox #chat-list::-webkit-scrollbar {
  display: none;
}
body #inbox #chat-list div div {
  display: flex;
  align-items: center;
}
body #inbox #chat-list div div .list-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
body #inbox #chat-list div div span {
  font-weight: bold;
}
body #inbox #chat-list div div span.new-message {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(44, 132, 20, 0.5);
  position: absolute;
}
body #inbox #sh {
  box-shadow: 0px 3px 25px rgba(119, 119, 119, 0.6);
  border-radius: 10px;
  max-height: 70vh;
  background-color: #ffffff;
}
body #inbox #sh #chat {
  background-color: rgba(44, 132, 20, 0.3);
  overflow-y: scroll;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
body #inbox #sh #chat::-webkit-scrollbar {
  display: none;
}
body #inbox #sh #chat #user {
  position: sticky;
  top: 0px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 15px;
}
body #inbox #sh #chat #user .list-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
body #inbox #sh #chat #user span {
  font-weight: bold;
}
body #inbox #sh #chat #messages {
  padding: 20px;
  width: 100%;
  height: 50vh;
}
body #inbox #sh #chat #messages .l {
  display: flex;
}
body #inbox #sh #chat #messages .r {
  display: flex;
  margin-inline-start: auto;
}
body #inbox #sh #chat #messages .list-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
body #inbox #sh #chat #messages .message {
  background-color: #ffffff;
  padding: 5px 30px;
  width: 60%;
  margin: 10px 0px;
}
body #inbox #sh #chat #messages .message.a-r {
  border-radius: 20px 20px 0px 20px;
  margin-inline-start: auto;
}
body #inbox #sh #chat #messages .message.a-l {
  border-radius: 20px 20px 20px 0px;
}
body #inbox #inbox-send {
  width: 100%;
  background-color: #ffffff;
}
body #inbox #inbox-send form {
  width: 100%;
  margin: 0px auto;
  padding: 10px;
  background-color: #ffffff;
}
body #inbox #inbox-send form div {
  width: 90%;
  margin: 0px auto;
}
body #inbox #inbox-send form div input {
  width: 90%;
  height: 30px;
  border: none;
  border-bottom: solid 1px rgba(44, 132, 20, 0.5);
  padding: 5px;
}
body #inbox #inbox-send form div input:focus {
  outline: none;
}
body #inbox #inbox-send form div input::-moz-placeholder {
  font-size: 15px;
  color: rgba(44, 132, 20, 0.5);
}
body #inbox #inbox-send form div input::placeholder {
  font-size: 15px;
  color: rgba(44, 132, 20, 0.5);
}
body #inbox #inbox-send form div button {
  border: none;
  color: rgba(44, 132, 20, 0.5);
  background-color: transparent;
}
body footer {
  width: 100vw;
  background-color: #711520;
  color: #ffffff;
}
body footer div {
  display: flex;
  justify-content: center;
}
body footer div div.i {
  text-align: center;
  width: 40px;
  height: 40px;
  margin: 10px;
  padding: 8px 3px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
}
body footer div div.i a {
  color: #ffffff;
}
body footer div div.i:hover {
  background-color: rgba(156, 28, 44, 0.3);
}
body footer div div.i:hover a {
  color: #ffffff;
}
body footer div p {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.8);
}
body footer div p mark {
  color: #ffffff;
  background-color: transparent;
}

@media screen and (max-width: 770px) {
  body #start #cover .start-bg form input {
    width: 90%;
  }
}
@media screen and (max-width: 767px) {
  body #auth-div {
    display: none !important;
  }
}/*# sourceMappingURL=style.css.map */
